
{{!-- <h1>Weather App</h1>
<div> --}}
    {{!-- <a href="/">weather</a> --}}
    {{!-- <a href="/about">about</a>
    <a href="/help">help</a>
</div>
<h2>{{title}}</h2>
<h2>{{name}}</h2>
<h2>{{shortie}}</h2> --}}